<!DOCTYPE html>
<html lang="en">
<head>
    <title>Consultar livros</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<boby>
<h1>Consulatr livros</h1>
    <form style="margin: auto; width: 220px;" name="form2" method="POST" action="/submit_form2">
      <tr>
      <input type="text"  placeholder="Nome do livro" />
      </tr>
      <tr>
          <input type="submit" value="Consultar"/>
      </tr>
      <tr>
          <input type="button" value="Excluir"/>
      </tr>
    </form>
    
</boby>
</html>